<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >

    <link rel="stylesheet" th:href="@{/css/bootstrap-4.3.1.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid-4.3.1.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot-4.3.1.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/shards/shards-2.1.0.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/shards/shards-demo-2.1.0.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/shards/shards-extra-2.1.0.min.css}"/>
</head>
</html>