<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >

    <link rel="stylesheet" th:href="@{/css/bootstrap-4.3.1.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid-4.3.1.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot-4.3.1.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap-duallistbox.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-duallistbox.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap4-toggle.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap4-toggle.min.css}"/>

    <!-- bootstrap-dashboard -->
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontastic.css}"/>
    <link rel="stylesheet" th:href="@{/css/grasp_mobile_progress_circle-1.0.0.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.blue.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.default.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.green.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.pink.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.red.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.sea.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.violet.css}"/>

    <link rel="stylesheet" th:href="@{/css/datatables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>



    <!-- moment -->


    <script type="text/javascript" th:src="@{/js/vendor/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/vendor/popper.js/umd/popper.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}" ></script>

    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}" ></script>

    <script type="text/javascript" th:src="@{/js/jquery.bootstrap-duallistbox.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery.bootstrap-duallistbox.min.js}" ></script>

    <script type="text/javascript" th:src="@{/js/bootstrap4-toggle.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap4-toggle.min.js}" ></script>

    <script type="text/javascript" th:src="@{/js/grasp_mobile_progress_circle-1.0.0.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie/jquery.cookie.js}" ></script>
    <script type="text/javascript" th:src="@{/js/chart.js/Chart.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-validation/jquery.validate.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/front.js}" ></script>
    <script type="text/javascript" th:src="@{/js/moment/moment-with-locales.js}" ></script>
    <script type="text/javascript" th:src="@{/js/datatables.min.js}" ></script>

</head>
</html>