<section th:id="commonFragment" th:fragment="commonFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >

    <link rel="stylesheet" th:href="@{/css/bootstrap-4.3.1.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid-4.3.1.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot-4.3.1.min.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-4.3.1.min.js}" ></script>

</section>