<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout">
<head th:include="~{fragments/common:: common}"></head>

<body>

<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="sidebar-and-content" class="container">
        <div th:replace="~{fragments/sidebar :: sidebar}" ></div>
        <div layout:fragment="content"></div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>