<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragments/common :: common}">

    <title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>
</head>
<body>

<div th:fragment="header">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" th:href="@{/}">Project Analytics</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/project/list}" th:text="#{project.list}">projects</a>
<!--                    <a class="dropdown-item" th:href="@{/project/axis/list}" th:text="#{axis.listDefaultAxis}">projects</a>-->
                </div>
            </li>
        </ul>
        <ul class="navbar-nav px-3">

            <li class="nav-item text-nowrap" sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" onclick="$('#form').submit();">
                    <span class="fa fa-sign-out" aria-hidden="true" th:title="#{gen.logout}"/>
                </a>
                <form id="form" method="post" action="#" th:action="@{/logout}"></form>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>