<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/login}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:inline="javascript">
    //<![CDATA[
    var serverContext = [[;@{
        /}]];;;;

        function resetPass() {
            var email = $("#email").val();
            $.post(serverContext + "user/resetPassword", {email: email},
                function (data) {
                    window.location.href =
                        serverContext + "login?message=" + data.message;
                })
                .fail(function (data) {
                    if (data.responseJSON.error.indexOf("MailError") > -1) {
                        window.location.href = serverContext + "emailError.html";
                    } else {
                        window.location.href =
                            serverContext + "login?message=" + data.responseJSON.message;
                    }
                });
    // ]]>
</script>
</body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
            <div class="col-md-auto col-lg-auto col-xl-auto">

                <h1 th:text="#{message.resetPassword}">reset</h1>

                <label th:text="#{user.email}">email</label>
                <input id="email" name="email" type="email" value=""/>
                <button onclick="resetPass()" th:text="#{gen.resetPassword}" type="submit">reset</button>

                <a th:href="@{/templates/admin/user/registration/new.html}"
                   th:text="#{gen.loginSignUp}">registration</a>
                <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>

            </div>
        </div>
    </div>
</div>

</html>