<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/login}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class=" text-center" >
        <form class="form-signin" th:action="@{/login}" method="post">
                <div class="h3 mb-3 font-weight-normal">
                <span style="text-transform: uppercase;" th:text="#{gen.signin}" />
            </div>
            <div >
                <label class="sr-only" th:text="#{gen.email}" />
                <input type="text" id="email" name="email" class="form-control" th:placeholder="#{gen.email}" required autofocus>
            </div>
            <div>
                <label class="sr-only" th:text="#{gen.password}" />
                <input type="password" id="password" name="password" class="form-control" th:placeholder="#{gen.password}" required>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me" th:text="#{gen.rememberme}">
                </label>
            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" th:value="#{gen.signin}">
        </form>
    </div>
</div>

</body>
</html>