<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        Welcome!
        <a th:href="@{/project/list}">
            <button class="btn" th:text="#{project.list}" >listProjects</button>
        </a>
        <a th:href="@{/project/guideline/list}">
            <button class="btn" th:text="#{guideline.list}" >listProjects</button>
        </a>
    </div>
</div>
</body>
</html>