<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <br/>
    <br/>
    <div class="container-fluid">
        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
            <div class="col-md-auto col-lg-auto col-xl-auto">
                <th:block th:if="${lastAction != null}" >
                    <div th:replace="~{fragments/message :: message}" />
                </th:block>
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="card-title">
                            <h4><span th:text="#{rule.edit}">project.creation</span></h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="#" method="post" role="form" th:action="@{/project/axis/rule/edit}"
                              th:object="${pojo}">
                            <div th:id="project" >
                                <div th:hidden="true" th:for="idDiv">
                                    <input type="text" id="idDiv" th:value="*{id}" th:readonly="true">
                                    <input type="text" id="axisId" th:value="*{axisOrGuideline.id}" th:readonly="true">
                                </div>
                            </div>

                            <div class="form-group" th:id="ruleDetails">
                                <div class="row">
                                    <label th:for="axisOrGuideline" th:text="#{rule.editAxisOrGuideline}">name</label>
                                    <input class="form-control" id="axisOrGuideline" readonly
                                           th:field="*{axisOrGuideline.description}" type="text">
                                </div>
                                <br/>
                                <div class="row">
                                    <label th:for="description" th:text="#{gen.description}">description</label>
                                    <textarea class="form-control" id="description" required
                                              th:field="*{description}"></textarea>
                                </div>
                            </div>

                            <div id="controls">
                                <button id="submitButton" type="submit" class="btn btn-success btn-pill" th:text="#{gen.submit}">Submit</button>
                                <a th:href="@{/project/axis/rule/list(axisId=${axisId})}"></a>
                                <span class="btn btn-warning" th:text="#{gen.cancel}">Cancel</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>