<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

    <section class="forms" >
        <div class="row">
            <div class="col-lg-12">
                <th:block th:if="${lastAction != null}" >
                    <div th:replace="~{fragments/message :: message}" />
                </th:block>
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="card-title">
                            <h4><span th:text="#{project.creation}">project.creation</span></h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form role="form" action="#" th:action="@{/project/axis/rule}" th:object="${pojo}" method="post">
                            <div th:id="project" >
                                <div th:hidden="true" th:for="idDiv">
                                    <input type="text" id="idDiv" th:value="*{id}" th:readonly="true">
                                    <input type="text" id="axisId" th:value="*{axisOrGuideline.id}" th:readonly="true">
                                </div>
                            </div>

                            <div th:id="ruleDetails" class="form-group row">
                                <div class="col-lg-6">
                                    <label th:for="axisOrGuideline" th:text="#{rule.createAxisOrGuideline}">name</label>
                                    <input type="text" class="form-control" id="axisOrGuideline" th:field="*{axisOrGuideline.id}" readonly>
                                </div>
                                <div class="col-lg-6">
                                    <label th:for="description" th:text="#{gen.description}">description</label>
                                    <input type="text" class="form-control" id="description" th:field="*{description}">
                                </div>
                            </div>

                            <div id="controls">
                                <button id="submitButton" type="submit" class="btn btn-success btn-pill" th:text="#{gen.submit}">Submit</button>
                                <a th:href="@{/project/axis/rule/list(axisId=*{axisOrGuideline.id})}"></a>
                                    <span class="btn btn-warning" th:text="#{gen.cancel}">Cancel</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>