<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/default}" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container-fluid">
        <script type="text/javascript">
            $(document).ready(function(){
                $("#form").validate({
                    rules: {
                        password: "required",
                        passwordConfirm: {
                            equalTo: "#password"
                        }
                    }
                });

                $('#selectedProfiles').bootstrapDualListbox({
                    filterTextClear: 'show all',
                    filterPlaceHolder: 'Filter',
                    moveSelectedLabel: 'Move Selected',
                    moveAllLabel: "Add All",
                    removeSelectedLabel: 'Remove Selected',
                    removeAllLabel: "Remove All",
                    moveOnSelect: true,
                    showFilterInputs: false,
                    infoText: false,
                    btnMoveText: 'Add',
                    btnMoveAllText: 'Add All',
                    btnRemoveText: 'Remove',
                    btnRemoveAllText: 'Remove All',
                });
            });
        </script>

        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
            <div class="col-md-auto col-lg-auto col-xl-auto">

                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="card-title">
                            <h4><span th:text="#{user.createUser}">project.creation</span></h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="form" role="form" action="#" th:action="@{/admin/user/create}" th:object="${pojo}" method="post">

                            <div id="user">
                                <div th:hidden="true">
                                    <input type="text" id="idDiv" th:field="*{id}" th:readonly="true"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label th:for="username" th:text="#{user.username}" />
                                    <input type="text" class="form-control" id="username" th:field="*{username}">
                                </div>

                                <div class="col-lg-6">
                                    <label th:for="email" th:text="#{user.email}" />
                                    <input type="text" class="form-control" id="email" th:field="*{email}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label th:for="firstName" th:text="#{user.firstName}" />
                                    <input type="text" class="form-control" id="firstName" th:field="*{firstName}">
                                </div>

                                <div class="col-lg-6">
                                    <label th:for="lastName" th:text="#{user.lastName}" />
                                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label th:for="password" th:text="#{user.password}" />
                                    <input type="password" class="form-control" id="password" th:field="*{password}" required>
                                </div>

                                <div class="col-lg-6">
                                    <label th:for="passwordConfirm" th:text="#{user.passwordConfirm}" />
                                    <input type="password" class="form-control" id="passwordConfirm" th:field="*{passwordConfirm}" required>
                                </div>
                            </div>

                            <div class="form-group row justify-content-md-center justify-content-lg-center justify-content-xl-center">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <label th:for="profiles" th:text="#{user.profiles}" />
                                    <select multiple="multiple" id="selectedProfiles" th:field="*{userProfileSet}" name="profiles" class="form-control">
                                        <option th:each="profile : ${profileList}"
                                                th:value="${profile.id}"
                                                th:text="${profile.type}"
                                                th:required="true">
                                        </option>
                                    </select>
                                </div>
                            </div>



                            <div id="controls">
                                <button id="submitButton" type="submit" class="btn btn-success btn-pill" th:text="#{gen.submit}">Submit</button>
                                <a th:href="@{/admin/user/list}">
                                    <span class="btn btn-warning" th:text="#{gen.cancel}">Cancel</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>