<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function(){
        $("#form").validate({
            rules: {
                password: "required",
                passwordConfirm: {
                    equalTo: "#password"
                }
            }
        });

        $(":password").keyup(function () {
            if ($("#password").val() != $("#passwordConfirm").val()) {
                $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
            } else {
                $("#globalError").html("").hide();
            }
        });

        options = {
            common: {minChar: 8},
            ui: {
                showVerdictsInsideProgressBar: true,
                showErrors: true,
                errorMessages: {
                    wordLength: /*[[#{error.wordLength}]]*/,
                    wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
                    wordSequences: /*[[#{error.wordSequences}]]*/,
                    wordLowercase: /*[[#{error.wordLowercase}]]*/,
                    wordUppercase: /*[[#{error.wordUppercase}]]*/,
                    wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
                    wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
                }
            }
        };
        $('#password').pwstrength(options);

    });
</script>
<div layout:fragment="content">
    <div class="container-fluid">

        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
            <div class="col-md-auto col-lg-auto col-xl-auto">

                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="card-title">
                            <h4><span th:text="#{user.editUser}">project.creation</span></h4>
                        </div>
                    </div>
                    <div class="card-body">

                        <form id="form" role="form" action="#" th:action="@{/admin/user/edit}" th:object="${pojo}" method="post">

                            <div id="user">
                                <div th:hidden="true">
                                    <input type="text" id="idDiv" th:field="*{id}" th:readonly="true"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label th:for="email" th:text="#{user.email}" />
                                    <input class="form-control" id="email" th:field="*{email}" th:readonly="true"
                                           type="text"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label th:for="firstName" th:text="#{user.firstName}" />
                                    <input type="text" class="form-control" id="firstName" th:field="*{firstName}">
                                </div>

                                <div class="col-lg-6">
                                    <label th:for="lastName" th:text="#{user.lastName}" />
                                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
                                </div>
                            </div>

                            <th:block th:if="*{accountOwner}">
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label th:for="password" th:text="#{user.password}"/>
                                        <input class="form-control" id="password" required th:field="*{password}"
                                               type="password">
                                        <span class="alert alert-danger col-sm-4" id="passwordError"
                                              style="display:none"></span>
                                    </div>

                                    <div class="col-lg-6">
                                        <label th:for="passwordConfirm" th:text="#{user.passwordConfirm}"/>
                                        <input class="form-control" id="passwordConfirm" required
                                               th:field="*{passwordConfirm}" type="password">
                                        <span class="alert alert-danger col-sm-4" id="globalError"
                                              style="display:none"></span>
                                    </div>
                                </div>
                            </th:block>


                            <div class="form-group row justify-content-md-center justify-content-lg-center justify-content-xl-center">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <label th:for="profiles" th:text="#{user.profiles}" />
                                    <select multiple="multiple" id="selectedProfiles" th:field="*{userProfileSet}" name="profiles" class="form-control">
                                        <option th:each="profile : ${profileList}"
                                                th:value="${profile.id}"
                                                th:text="${profile.type}"
                                                th:required="true">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div id="controls">
                                <button class="btn btn-outline-primary" id="submitButton" th:text="#{gen.submit}"
                                        type="submit">Submit
                                </button>
                                <a th:href="@{/admin/user/list}">
                                    <span class="btn btn-outline-secondary" th:text="#{gen.cancel}">Cancel</span>
                                </a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>