<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function(){
        $('#axisTable').DataTable({
            fixedHeader: true
        });
    });
</script>
<div layout:fragment="content" >
    <section class="forms">

        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="card-title">
                            <h4><span th:text="#{axis.axisView}">axisView</span></h4>
                        </div>
                    </div>

                    <div class="card-body">
                        <th:block th:if="${lastAction != null}" >
                            <div th:replace="~{fragments/message :: message}" />
                        </th:block>

                        <th:block th:if="${projectId == null}" sec:authorize="hasAnyRole(''ROLE_SPONSOR'',''ROLE_ADMIN'')" >
                            <a th:href="@{/project/axis/create}">
                                <button class="btn btn-success btn-pill float-lg-right" th:text="#{axis.addDefaultAxis}">addDefaultAxis</button>
                            </a>
                        </th:block>

                        <th:block th:if="${projectId != null}" sec:authorize="hasAnyRole(''ROLE_SPONSOR'',''ROLE_ADMIN'')" >
                            <div class="">
                                <a th:href="@{/project/axis/create(projectId=${projectId})}">
                                    <button class="btn btn-success " th:text="#{axis.addAxis}">addAxis</button>
                                </a>
                                <a th:href="@{/project/list}">
                                    <button class="btn btn-secondary" th:text="#{gen.returnProject}">addAxis</button>
                                </a>
                            </div>

                        </th:block>


                        <div id="searchable_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table id="axisTable" class="table table-bordered table-hover table-responsive table-striped dataTable" aria-describedby="searcheable_info" >
                                <thead>
                                <tr>
                                    <th th:text="#{axis.ordering}" />
                                    <th th:text="#{axis.description}" />
                                    <th th:text="#{axis.guideline}" />
                                    <th th:text="#{axis.numberOfRules}" />
                                    <th th:text="#{gen.actions}" />
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${pojoList.empty}" >
                                    <td colspan="5" th:text="#{gen.noItems}">No Axis</td>
                                </tr>
                                <tr th:each="pojo : ${pojoList}">
                                    <td style="text-align: center" th:text="${pojo.ordering}" />
                                    <td th:text="${pojo.description}" />
                                    <td style="text-align: center" th:text="#{${pojo.guideline} ? 'gen.true' : 'gen.false'}" />
                                    <td>
                                        <span th:text="${pojo.ruleSet.size()}" />
                                        <a th:href="@{/project/axis/rule/list(axisId=${pojo.id})}" class="fa fa-search" th:title="#{rule.viewRules}" />
                                    </td>
                                    <td style="text-align: center">
                                        <a th:href="@{/project/axis/edit(ruleId=${pojo.id})}" class="fa fa-edit" th:title="#{gen.edit}" />
                                        <a th:href="@{/project/axis/remove(ruleId=${pojo.id})}" class="fa fa-remove" th:title="#{gen.remove}" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>