<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/login}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:inline="javascript">
    $(document).ready(function () {
        $(":password").keyup(function () {
            if ($("#password").val() != $("#passwordConfirm").val()) {
                $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
            } else {
                $("#globalError").html("").hide();
            }
        });

        options = {
            common: {minChar: 8},
            ui: {
                showVerdictsInsideProgressBar: true,
                showErrors: true,
                errorMessages: {
                    wordLength: /*[[#{error.wordLength}]]*/,
                    wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
                    wordSequences: /*[[#{error.wordSequences}]]*/,
                    wordLowercase: /*[[#{error.wordLowercase}]]*/,
                    wordUppercase: /*[[#{error.wordUppercase}]]*/,
                    wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
                    wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
                }
            }
        };
        $('#password').pwstrength(options);
    });
</script>
<div class="container">
    <div class="text-center">
        <form class="form-signin" method="post" th:action="@{/admin/user/registration/forgotPassword}"
              th:object="${pojo}">
            <div class="h3 mb-3 font-weight-normal">
                <span th:text="#{user.forgotPassword}">form</span>
            </div>
            <div class="h5 mb-5 font-weight-normal">
                <span th:text="#{user.forgotPasswordSubtitle}"></span>
            </div>

            <div>
                <label class="sr-only" th:text="#{user.email}"/>
                <input class="form-control" required th:field="*{email}" th:placeholder="#{user.email}" type="email"/>
                <span class="alert alert-danger col-sm-4" id="emailError" style="display:none"></span>
            </div>

            <button class="btn btn-lg btn-primary btn-block" th:text="#{gen.submit}" type="submit">submit</button>
        </form>
    </div>
</div>
</body>
</html>